*{ 
  box-sizing: border-box; 
}

body {
  padding: 0;
  margin: 0;
  
  
}

#topnav {
  text-align: center;
  padding: 20px 0px;
}

.topnav-btn {
  font-family:  'Titillium Web', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 20px 50px;
  border: solid 1px red;
  margin: 0px 125px;
  cursor: pointer;
}

.contact-view {
  font-family: 'Titillium Web', sans-serif;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #eeeeee;
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

#slider {
  width: 300%;
  padding-top: 60px;
  white-space: nowrap;
  overflow-x: hidden;
  -webkit-transition: all 0.25s 0 ease-out;
}

.is-home {
  margin-left: 0;
  
  margin-bottom: 0%;

}

.is-menu {
  margin-left: -100%;
  
  background-color: #FAFAFA;
}

.is-map {
  margin-left: -200%;
  background-color: #FAFAFA;
}

.hero {
  width: 100%;
}

.view {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  border: solid 1px red;
  white-space: normal;
}

.menu-view {
  text-align: center;
}

.map-view {
  text-align:center;
}

.map {
  display:inline-block;
  text-align: center;

}


p {
  text-align: center;
  font-family:'Gruppo', cursive;
  font-weight: 400;
  font-size: 20px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}


dt {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #3B3B3B;
}

dd {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #515151;
}
